[user]
	name = Tomasz Święcicki
	email = tomislater@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p

[alias]
	review = !sh -c 'post-review --guess-summary --guess-description'
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; nano -c `f`" 
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

[core]
    excludesfile = /home/tomek/.gitignore_global
    editor = vim
